{% extends 'myapp/base.html' %} {% block title %} Login page {% endblock %} {% load tailwind_filters %} {% block body %} {% load static %}
<div class="h-screen md:flex m-10">
    <div class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
        <div>
            <h1 class="text-white font-bold text-4xl font-sans">Expense Tracker </h1>
            <p class="text-white mt-1">The most popular Expense Tracker to fullfill your need</p>
        </div>
        <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        <div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
    </div>
    <div class="flex md:w-1/2 justify-center py-5 items-center bg-white">
        <form class="bg-white" method="POST">
            <h1 class="text-gray-800 font-bold text-2xl mb-1">Login</h1>
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>
            <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Forgot Password ?</span>
        </form>
    </div>
</div>
{% endblock %}